<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/flowui/menu">

    <menu id="application" caption="msg://menu.application">

        <menu id="geografia" caption="msg://menu.geografia">
            <item view="Comunidad.list" caption="msg://menu.comunidades"/>
            <item view="Provincia.list" caption="msg://menu.provincias"/>
            <item view="Ubicacion.list" caption="msg://menu.ubicaciones"/>
        </menu>

        <item view="Organizacion.list" caption="msg://menu.organizaciones"/>
        <item view="Estacion.list" caption="msg://menu.estaciones"/>

        <separator/>

        <menu id="datos" caption="msg://menu.datos">
            <item view="MuestraAcumulada.list" caption="msg://menu.muestras-acumuladas"/>
            <item view="Muestra.list" caption="msg://menu.muestras"/>
        </menu>

    </menu>

</menu-config>
